.hero {
    display: flex;
    justify-content: space-between;
    padding: 4rem 15rem;
    background-color: var(--color-white);
}

.hero-text {
    width: 50%;
    justify-content: center;
    flex-direction: column;
}

.heading {
    font-size: 36px;
    margin-bottom: 2rem;
}

.sub_heading {
    font-size: 60px;
}

.hero-image img {
    max-width: 100%;
    border-radius: 10px;
}

.hero-buttons {
    margin-top: 20px;
}

.menu-btn {
    background-color: var(--color-blue_black);
    color: #fff;
}

.book-table-btn {
    background-color: var(--color-yellow);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 1150px) {
    .hero {
        padding: 4rem 5rem;
    }
}

@media screen and (max-width: 850px) {
    .hero {
        flex-direction: column;
        align-items: center;
        padding: 4rem 5rem;
    }
    
    .hero-text {
        width: 100%;
        text-align: center;
    }
    
    .hero-image {
        margin-top: 2rem;
        justify-content: center;
    }
    
    .custom__button {
        padding: 10px 15px;
        margin-right: 10px;
        border: none;
        cursor: pointer;
        border-radius: 8px 0;
    }
    .headText{
        font-size:25px ;
    }
    .subText{
        font-size: 40px;
    }
}

@media screen and (max-width: 650px) {
    .hero {
        padding: 4rem 1rem;
    }
}


