@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --color-yellow: #FFCC00;
    --color-black: #0C0C0C;
    --color-red: #FF0909;
    --color-white: #FFFFFF;
    --color-gray: #f9f9f9;
    --color-blue_black:#101A24;
}



*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

a{
    color: unset;
    text-decoration: none;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
                transform: translateY(-25%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}

@keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-25%);
                transform: translateY(-25%);
    }
    100% {
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
    

}